/* .head h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }
  
  .head p {
    text-align: center;
    margin-top: -15px;
    color: gray;
  }
  
  .price {
    display: flex;
    gap: 15px;
    color: black;
    font-weight: 600;
    margin-top: -12px;
  }
  
  .fff {
    display: flex;
    gap: 12px;

  }

  .kkk{
    display: flex;
    margin-top: 45px;
    justify-content: center;
  } */

.ll {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  margin-top: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  row-gap: 25px;
}
