.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .image{
  background-image:
            linear-gradient(45deg,
              rgba(223,250,189),
              rgba(223,120,189)), url(
'https://media.istockphoto.com/id/1387979941/photo/close-up-of-consumerism-young-woman-holding-hand-many-shopping-bag-in-fashion-boutique-after.jpg?b=1&s=170667a&w=0&k=20&c=KrF7wHs5M7ehASeJY1XAYLMMGWYuEWlAF-XrCCc7WC0=');
            width: 290vh;
            height: 680px;
            text-align: center;
              color: #fff;
              background-repeat: no-repeat;
        } */

