<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div
        style="
          height: 150px;
          width: 150px;
          background-color: yellow;
          border-radius: 50%;
        "
      >
        <div style="margin-top: 15px">
          <p style="font-size: 85px; margin-left: 40px">N</p>
        </div>
      </div>
    </div>
  </body>
</html>
